doctype html
head
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(type='text/javascript', src='/scripts/d6.js')
  script(type='text/javascript', src='/scripts/board.js')
  script(type='text/javascript', src='/scripts/helper.js')
body
  .row.justify-content-between
    .col.col-2
      .row-5
        ul#messages
        form(action='')
            input#m.form-control(autocomplete='off', placeholder='Enter your message')
            .send
                button.btn.float-right.btn-info Send
                    input#user(type="hidden", name="postid", value=user)    
      .row-5
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#home-tab.nav-link.active(data-toggle='tab', href='#build', role='tab', aria-controls='build', aria-selected='true') Build
          li.nav-item
            a#profile-tab.nav-link(data-toggle='tab', href='#trade', role='tab', aria-controls='trade', aria-selected='false') Trade
        #myTabContent.tab-content
          #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='build-tab') ...
          #profile.tab-pane.fade(role='tabpanel', aria-labelledby='trade-tab') ...
    .col.col-8
      .d-flex.flex-column
        .board
          script.
            function makeBoard(){
              let game;
              game = newPseudoRandomGame();
              displayBoard(game);
            }
            makeBoard();
          script.
            function attack(result) {
            alert('You rolled ' + result + '!');
            }
            D6.dice(2, attack);
    .col.col-2
      .row-sm-3
        -for(let i=0; i< 4; i ++){
          .row
            h3 Player 
        -}
      .row-sm-3
        h5 Resources
        - let playerResources = ["wood", "bricks", "sheep", "food", "stone"];
        - for(let i =0; i < playerResources.length; i++){
            .resource
              img(src='/images/resources/' + playerResources[i]+ '.png')
        - }
        h5 Development Cards
        -let devCards = ["plenty", "monopoly", "knight", "roadbuilding", "victorypoint" ];
        - for(let i =0; i < devCards.length; i++){
            .resource
              img(src='/images/devcards/' + devCards[i]+ '.png')
        - }
      .row-sm-3
        button.turn.btn.btn-primary(type='button') End Turn
script.
    $(function() {
        var socket = io();
        $('form').submit(function() {
            // Send to server
            socket.emit('chat message', { message: $('#m').val(), username: $('#user').val() });
            $('#m').val('');
            return false;
        });
        // Receive from server
        socket.on('chat send', function(data) {
            if (data) {
                var d = new Date()
                var h = d.getHours()
                var m = d.getMinutes()
                var ampm = h < 12 ? 'AM' : 'PM';
                h = h % 12;
                h = h ? h : 12; // the hour '0' should be '12'
                m = m < 10 ? '0'+m : m;
                var strTime = h + ':' + m + ' ' + ampm;
                $('#messages').append('<li>' + data.user.bold() + '(' + strTime +  '): ' + data.msg + '</li>');
            }
        });
    });
