doctype html
head
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript', src='/scripts/d6.js')
body
.d-flex.xl-row.align-items-stretch.justify-content-between
  .d-flex.flex-column
    h1 Chat
  .d-flex.flex-column
    h1 Board
    script(type='text/javascript').
      function attack(result) {
      alert('You rolled ' + result + '!');
      }
      D6.dice(2, attack);

  .d-flex.flex-column
    .row
      h3 Player 1
    .row
      h3 Player 2
    .row
      h3 Player 3
    .row
      h3 Player 4
.d-flex.sm-row.align-items-end.justify-content-between
  .d-flex.flex-column.justify-content-end
    h2 Resources
    .d-flex.row.justify-content-around.align-items-end
         img(src='images/resources/wood.png')
         img(src='images/resources/bricks.png')
         img(src='images/resources/sheep.png')
         img(src='images/resources/food.png')
         img(src='images/resources/stone.png')
  .d-flex.flex-column.justify-content-end
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Home
      li.nav-item
        a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Profile
    #myTabContent.tab-content
      #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') ...
      #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...

  .d-flex.flex-column
  button.turn.btn.btn-primary(type='button') End Turn


