doctype html
head
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')
.d-flex.xl-row.justify-content-between
  .d-flex.flex-column
    h1 Chat
  .d-flex.flex-column
    .row
      h3 Player 1
    .row
      h3 Player 2
    .row
      h3 Player 3
    .row
      h3 Player 4
.d-flex.sm-row.align-items-end.justify-content-between
  .d-flex.flex-column
    h2 Resources
    .d-flex.row.justify-content-around
         img(src='images/resources/wood.png')
         img(src='images/resources/wood.png')
         img(src='images/resources/wood.png')
         img(src='images/resources/wood.png')
         img(src='images/resources/wood.png')
  .d-flex.flex-column
    h2 Build
  .d-flex.flex-column
  button.btn.btn-primary(type='button') End Turn


