doctype html
head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    style.
        #messages { 
            list-style-type: none; 
            margin: 0; 
            padding: 0; 
            height: 500px; 
            background: white; 
            overflow: auto;
            border-radius: 15px;
            border: #368BC1 5px solid;
        }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
body
    .main.container
        .row
            .col-4
                h2 Create Game
                form(method='POST' action='/game')
                    div.form-group
                    label(for='lobbyName') Lobby Name
                    input.form-control(type='text' id='lobbyName' placeholder='Lobby' name='lobby')
                    div.form-group
                    label(for='players') No. of Players
                    input.form-control(type='numPlayers' id='numPlayers' placeholder='4' name='numPlayers')

            .col-4
                h2 Join Game

            .col-4
                ul#messages
                br
                form(action='')
                    input.form-control#m(autocomplete='off' placeholder='Enter your message')
                    br
                    button.btn.btn-info Send

            script.
                $(function () {
                    var socket = io();
                    $('form').submit(function() {
                        socket.emit('chat message', $('#m').val());
                        $('#m').val('');
                        return false;
                    });
                    socket.on('chat message', function(msg) {
                        if (msg) {
                            $('#messages').append($('<li>').text(msg));
                        }
                    });
                });


