doctype html
head
  title= 'Catan | Lobby'
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
body
    .main.container.lobby
        .row
            .col
                .row-3
                    h2 Create Game
                    form(method='POST', action='/game')
                    .form-group
                        label(for='lobbyName') Lobby Name
                        input#lobbyName.form-control(type='text', placeholder='Lobby', name='lobby')
                    .form-group
                        label(for='players') No. of Players
                        input#numPlayers.form-control(type='numPlayers', placeholder='4', name='numPlayers')
                    a(href='game')
                    button.front.btn.btn-primary(type='button') Create Game
                .row-7
                    h2 Join Game
            .col
                .text
                    ul#messages
                    form(action='')
                        input#m.form-control(autocomplete='off', placeholder='Enter your message')
                        .send
                            button.btn.float-right.btn-info Send
                              input#user(type="hidden", name="postid", value=user)
script.
    $(function() {
        var socket = io('/lobby');
        $('form').submit(function() {
            // Send to server
            if ($('#m').val()) {
                socket.emit('lobby send message', { message: $('#m').val(), username: $('#user').val() });
                $('#m').val('');
                return false;
            } else {
                return false;
            }
        });
        // Receive from server
        socket.on('lobby receive message', function(data) {
            if (data) {
                var d = new Date()
                var h = d.getHours()
                var m = d.getMinutes()
                var ampm = h < 12 ? 'AM' : 'PM';
                h = h % 12;
                h = h ? h : 12; // the hour '0' should be '12'
                m = m < 10 ? '0'+m : m;
                var strTime = h + ':' + m + ' ' + ampm;
                $('#messages').append('<li>' + data.user.bold() + '(' + strTime +  '): ' + data.msg + '</li>');
            }
        });
    });
