doctype html
head
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  style.
    #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 500px;
    background: white;
    overflow: auto;
    border-radius: 15px;
    border: #368BC1 5px solid;
    }
    #messages li {
    padding: 5px 10px;
    }
    #messages li:nth-child(odd) {
    background: #eee;
    }
.main.container.lobby
  .row
    .col-5
      .row-3
        h2 Create Game
        form(method='POST', action='/game')
          .form-group
          label(for='lobbyName') Lobby Name
          input#lobbyName.form-control(type='text', placeholder='Lobby', name='lobby')
          .form-group
          label(for='players') No. of Players
          input#numPlayers.form-control(type='numPlayers', placeholder='4', name='numPlayers')

          a(href="game"): button.btn.btn-primary(type="button") Create Game   

      .row-7
        h2 Join Game
    .col-5
      ul#messages
      br
      form(action='')
        input#m.form-control(autocomplete='off', placeholder='Enter your message')
        br
        button.btn.btn-info Send
  script.
    $(function() {
    var socket = io();
    $('form').submit(function() {
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
    });
    socket.on('chat message', function(msg) {
    if (msg) {
    $('#messages').append($('<li>').text(msg));
    }
    });
    });


 
