@font-face{
    font-family:Nova;
    src: url(/fonts/nova.ttf);
}
body{
    padding: 50px;
    font-family:Nova;
    background: url(/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #c64947;
}
.container{
    width:100%;
    margin:auto;
}
.row{
    padding-right:-2%;
   
}
.col-1{
    background: #fff;
}